-provide(:title, "Home")

.container
  %h1 Home
  %p This is home page. Choose "Sign up" or "Log in" !
  .container.side
    -if logged_in?
      .flex-1
        = link_to "Log out", session_path, method: :delete
    -else
      .flex-1
        %p not yet user?
        =link_to "Sign up!", new_user_path
      .flex-1
        %p you have account?
        = link_to "Log in", new_session_path

test github