-provide(:title, "Home")

%h1 Home
-if logged_in?
  = link_to "Log out", session_path, method: :delete
-else
  %p not yet user?
  = link_to "Sign up!", new_user_path
  .mt10
    %p you have account?
    = link_to "Log in", new_session_path
