.mt10 {
  margin-top: 10px;
}

header {
  display: flex;
  padding: 7px 15px;
  background-color: #2E2F30;
  .left {
    a {
      font-size: 140%;
      color: white;
      text-decoration: none;
    }
  }
  .right {
    margin-left: auto;
    a {
      padding: 3px;
      color: white;
      text-decoration: none;
    }
  }
}


/* ホーム画面 */
.home {
  display: flex;
  flex-direction: column;

  h1 {
    margin-left: 9px;
  }

  .link_path {
    flex-direction: row;
  }
}


/* 情報入力系基本ページ */
.base_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ログイン画面 */
.login {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  width: 100%;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

.input-login {
  height: 50px;
}

p.bold {
  font-weight: 900;
}

.sign_up {
  display: flex;
  margin-left: 250px;
  p {
    margin: 12px;
    padding-top: 12px;
  }
}


.line-horizontal {
  height: 1px;
  margin: 40px 40px 20px 40px;
  border-top: 1px black solid;
}

.blue-button {
  background-color: royalblue;
}
.white-button {
  background-color: white;
}
.red-button {
  background-color: red;
}


/* 登録進行状況 */
.regi-stage {
  display: flex;
  justify-content: center;
  width: 60%;

  div {
    margin: 10px;
    background-color: darkslateblue;
    padding: 9px;
    color: white;
  }
  .now {
    color: black;
    background-color: orange;
  }
}


/*　フォーム欄 */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
  width: 60%;

  div{
    margin-bottom: 15px;
    .input-field {
      width: 400px;
      border-radius: 25px;
      border-color: black;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    .next-button {
      width: 100%;
      height: 44px;
      min-width: 90px;
      margin-top: 15px;
      border-radius: 25px;
      background-color: orange;
    }
  }
}


/* ボタン */
.button_to{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  .button {
    width: 250px;
    padding: 15px;
    border-radius: 25px;
  }
}

.button-view-change {
  color: white;
  background-color: mediumblue;
}