header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #2E2F30;
}
.header-container {
  display: flex;
  align-items: baseline;
  flex: 1;

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &.right {
    flex-direction: row-reverse;
    @media screen and (max-width: 375px){
      margin-bottom: 6px;
    }
  }
}


/* ホーム画面 */
.home {
  display: flex;
  flex-direction: column;

  .link-path {
    flex-direction: row;
  }
}


/* 登録進行状況 */
.registration-stage {
  display: flex;
  justify-content: space-around;
  width: 50%;

  .step {
    margin: 10px;
    padding: 9px;
    background-color: lightskyblue;

    &.now {
      color: white;
      background-color: darkblue;
    }
  }
}


/* フォーム欄 */
.label-filed {
  text-align: left;
}
.input-field {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border-color: gainsboro;
}


/* ボタン */
.button {
  display: block;
  width: 70%;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: steelblue;
  text-align: center;
  text-decoration: none;
  color: black;

  &.input {
    width: 100%;
  }
  &.small {
    width: 20%;
    @media screen and (max-width: 375px) {
      width: 50%;
    }
  }

  &.blue {
    color: white;
    background-color: royalblue;
  }
  &.white {
    border: 1px solid;
    border-color: #999999;
    background-color: white;
  }
  &.red {
    color: white;
    background-color: red;
  }
  &.orange {
    background-color: orange;
  }
  &.light-gray {
    background-color: #BBBBBB;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 300px;
  @media screen and (max-width: 375px) {
    width: 280px;
  }
}

/* 棒 */
.line-horizontal {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;  border-top: 1px black solid;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .line-horizontal2 {
    width: 90%;
    margin: 40px 40px 0px 40px;
    border-top: 1px black solid;
  }
}

/* 丸 */
.circle {
  width: 150px;
  height:150px;
  background-color: gainsboro;
  border-radius: 50%;
}

/* コンテナー */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  &.form{
    align-items: baseline;
    align-self: center;
    width: 350px;
    margin-top: 20px;
    &.small {
      width: 70%;
      padding: 0 30px 0 30px;
      @media screen and (max-width: 375px){
        width: 100%;
      }
    }
  }

  &.text {
    align-items: flex-start;
  }

  @media screen and (max-width: 375px) {
    align-content: space-around;
    align-items: flex-start;
  }

  &.side {
    align-items: baseline;
    flex-direction: row;

    @media screen and (max-width: 375px) {
      flex-direction: column;
      align-items: center;
    }

    .sub-container {
      text-align: center;
      width: 45%;

      @media screen and (max-width: 375px) {
        width: 80%;
      }
    }
  }

  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
}


/* 文字 */
.bold {
  font-weight: 900;
}

.white-font {
  color: white;
  &.small {
    font-size: 6px;
  }
}

.link-word {
  text-decoration: none;
  padding: 0 3px 0 3px;

  &.logo {
    font-size: 40px;
    padding: 5px;
    @media screen and (max-width: 375px) {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 375px) {
  .sp-small {
    font-size: small;
  }
}
.left {
  text-align: left;
}

/* margin */
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mleft50 {
  margin-left: 50px;
}

.height50 {
  height: 50%;
}


.max-width {
  width: 100%;
}
.width40 {
  width: 40%;
}

/* 見出し */
h1 {
  text-align: center;
}