%header
  .header-container
    = link_to "訪日コム", root_path, class: "link-word logo white-font"
    .white-font.small インバウンド対策サービスの資料請求・比較サイト
  .header-container.right
    -if logged_in?
      =link_to "ログアウト", session_path, method: :delete
    -else
      =link_to "新規会員登録", new_user_path, class: "link-word white-font"
      =link_to "ログイン", new_session_path, class: "link-word white-font"